$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#18142f;
$sidebar-bg:#1f1a3a;
$sidebar-fonts-color:#c4c4c4;
$sidebar-fonts-checked-color:#ffffff;
$card-bg:#282248;
$card-border:transparent;
$border-color:#0d0a1b;
$font-color:#ffffff;
$font-second-color:#bababa;
$player-bg:#282248;