$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#c7b1f0;
$body-bg:#000000d0;
$sidebar-bg:#00000000;
$sidebar-font-color:#eeeeee;
$card-color:#0909095b;
$card-border:transparent;
$border-color:#ffffff86;
$font-color:#eeeeee;
$font-second-color:#cecece;
$player-bg:#0909095b;
$placeholder:#0909098c;
$gradient-bg-s:#3f3825e0;
$gradient-bg-c:#2c2530e0;
$gradient-bg-e:#493236e0;