$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#caaa60;
$body-bg:#1e2023;
$sidebar-bg:#15171a;
$sidebar-font-color:#888883;
$card-color:#0f1013;
$card-border:transparent;
$border-color:#1b1d1f;
$font-color:#d2d2d2;
$font-second-color:#696a70;
$player-bg:#1e2024;
$placeholder:#303336;