$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#7881ff;
$body-bg:#00000000;
$sidebar-bg:#00000000;
$sidebar-font-color:#949aa9;
$card-color:#e5fbff;
$card-border:transparent;
$border-color:#c1e0e6;
$font-color:#192c57;
$font-second-color:#adaeb8;
$player-bg:#e5fbff;
$placeholder:#caedf4;