$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#c7b1f0;
$background-color:#ffffffd0;
$sidebar-bg:#00000000;
$sidebar-font-color:#141414;
$card-color:#ffffff86;
$card-border:transparent;
$border-color:#ffffff86;
$font-color:#141414;
$font-second-color:#8d8e96;
$player-bg:#ffffff86;
$placeholder:#ffffffa5;
$gradient-bg-s:#FFF0DDE0;
$gradient-bg-c:#deddffe0;
$gradient-bg-e:#eadbdde0;