$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#08cfc2;
$body-bg:#ffffff;
$sidebar-bg:#fcfcfc;
$sidebar-font-color:#b7b7b7;
$card-color:#f2f2f2;
$card-border:transparent;
$border-color:#f4f5fa;
$font-color:#555555;
$font-second-color:#8b919f;
$player-bg:#ffffff;