$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#24cbce;
$body-bg:#fbfcfe;
$sidebar-bg:#f0f1f5;
$sidebar-font-color:#949aa9;
$card-color:#fff;
$card-border:transparent;
$border-color:#f0f0f0;
$font-color:#192c57;
$font-second-color:#adaeb8;
$player-bg:#f9fafc;
$placeholder:#e9e9e9;