$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$primary-color:#ffcb19;
$body-bg:#ffffff;
$sidebar-bg:#ffffff;
$sidebar-fonts-color:#676767;
$sidebar-fonts-checked-color:#333333;
$card-bg:#f2f2f2;
$card-border:transparent;
$border-color:#edeff7;
$font-color:#333333;
$font-second-color:#b7becc;
$player-bg:#ffffff;