@font-face {
  font-family: 'iconfont';  /* project id 1989956 */
  src: url('//at.alicdn.com/t/font_1989956_03bvnk9imopv.eot');
  src: url('//at.alicdn.com/t/font_1989956_03bvnk9imopv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1989956_03bvnk9imopv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1989956_03bvnk9imopv.woff') format('woff'),
  url('//at.alicdn.com/t/font_1989956_03bvnk9imopv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1989956_03bvnk9imopv.svg#iconfont') format('svg');
}

[class^="iconfont-"],
[class*=" iconfont-"] {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-play-single:before {
  content: "\e734";
}

.iconfont-play:before {
  content: "\e787";
}

.iconfont-pause:before {
  content: "\e658";
}

.iconfont-prev:before {
  content: "\e6ac";
}

.iconfont-next:before {
  content: "\e6a9";
}

.iconfont-back:before {
  content: "\e666";
}

.iconfont-go:before {
  content: "\e665";
}

.iconfont-circle-single:before {
  content: "\e611";
}

.iconfont-circle-list:before {
  content: "\e610";
}

.iconfont-heart-line:before {
  content: "\e86e";
}

.iconfont-heart-fill:before {
  content: "\e86f";
}

.iconfont-search:before {
  content: "\e699";
}

.iconfont-voiceprint:before {
  content: "\e6fe";
}

.iconfont-playlist:before {
  content: "\e650";
}

.iconfont-top:before {
  content: "\e600";
}

.iconfont-square:before {
  content: "\e6d2";
}

.iconfont-download:before {
  content: "\e609";
}

.iconfont-headset:before {
  content: "\e605";
}

.iconfont-volume:before {
  content: "\e629";
}

.iconfont-list:before {
  content: "\e696";
}

.iconfont-delete:before {
  content: "\e66f";
}

.iconfont-more:before {
  content: "\e690";
}
